.dndContainer{

    @media(min-width: 768px){
        width: 450px;
    }
    
    .errorMsg{
        color: red;
        font-weight: bold;
    }

    .successMsg{
        color: green;
        font-weight: bold;
    }

    .checkBtn{
        cursor:pointer;
        background-color: $blue;
    }
    
    .wrong{
        color: red;
        font-weight: bold;
        text-decoration: underline;
    }
}


