.draggable{
    background-color: $white;
    color: $black;
    height: 80px;
    margin-bottom: 10px;
    background-color: $blue;
}

.dragging{
    opacity: .5;
}

.checkBtn{
    cursor:pointer;
}

.wrong{
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

